@import "spectre.css";
@import "spectre.css/dist/spectre-icons.css";

$base-spacer-value: 0.5rem;

.xm-0  { margin:        0 !important }
.xmb-0 { margin-bottom: 0 !important }
.xmt-0 { margin-top:    0 !important }
.xmr-0 { margin-right:  0 !important }
.xml-0 { margin-left:   0 !important }

.xp-0  { padding:        0 !important }
.xpb-0 { padding-bottom: 0 !important }
.xpt-0 { padding-top:    0 !important }
.xpr-0 { padding-right:  0 !important }
.xpl-0 { padding-left:   0 !important }

@for $i from 1 through 4 {
  .xm-#{$i}  { margin:        $base-spacer-value * $i }
  .xmb-#{$i} { margin-bottom: $base-spacer-value * $i }
  .xmt-#{$i} { margin-top:    $base-spacer-value * $i }
  .xmr-#{$i} { margin-right:  $base-spacer-value * $i }
  .xml-#{$i} { margin-left:   $base-spacer-value * $i }

  .xp-#{$i}  { padding:        $base-spacer-value * $i }
  .xpb-#{$i} { padding-bottom: $base-spacer-value * $i }
  .xpt-#{$i} { padding-top:    $base-spacer-value * $i }
  .xpr-#{$i} { padding-right:  $base-spacer-value * $i }
  .xpl-#{$i} { padding-left:   $base-spacer-value * $i }
}

ul {
  li {
    margin: 0;
    padding: $base-spacer-value 0;
    list-style: none;
    &:not(:last-child) {
      border-bottom: 1px solid #dadee4;
    }
  }
}

.column-align-center {
  align-self: center;
}
